body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    height: 0;
    width: 0;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.face {
    position: relative;
    transform-origin: 0 0;
    height: 16em;
    width: 16em;
}

.left {
    transform: rotate(90deg) skewX(-30deg) scaleY(0.864);
}

.right {
    transform: rotate(-30deg) skewX(-30deg) scaleY(0.864);
    bottom: 16em;
}

.top {
    transform: rotate(210deg) skew(-30deg) scaleY(0.864);
    bottom: 32em;
}

img {
    width: 100%;
}

.left img {
    transform: rotate(-90deg);
}

.right img {
    transform: rotate(90deg);
}

.top img {
    transform: rotate(180deg);
}

.top:after,
.right:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.top:after {
    background-color: rgba(255, 255, 255, 0.15);
}

.right:after {
    background-color: rgba(0, 0, 0, 0.35);
}

.top:before {
    position: absolute;
    content: "";
    background: linear-gradient(to left,
            rgba(1, 2, 83, 0.1) 15%,
            rgba(1, 2, 83, 0) 50%);
    height: 100%;
    width: 100%;
    left: -200%;
    top: -100%;
}

@media screen and (max-width: 700px) {
    .container {
      font-size: 0.6em;
    }
  }